<link href="css/login-custom.css" rel="stylesheet">
<div>
    <div class="col-sm-10 col-sm-offset-1">
        
        <div class="center">
                <h1>
                    <i class="icon-leaf green"></i>
                    <span class="white">School Communication Tool</span>
                </h1>
                <h4 class="blue">&copy; Thang Nguyen</h4>
            </div>
        
        <div class="login-container">
            

            <div class="space-6"></div>

            <div class="position-relative">
                <div id="login-box" class="login-box visible widget-box no-border">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div style="width: 300px">
                                <div ng-show="data.success_message != ''"class="alert alert-dismissable alert-success">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{data.success_message}}
                                </div>

                                <div ng-show="data.error_message != ''" class="alert alert-dismissable alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{data.error_message}}
                                </div>
                            </div>
                            
                            <h4 class="header blue lighter bigger">
                                <i class="icon-coffee green"></i>
                                Please Enter Your Information
                            </h4>

                            <div class="space-6"></div>

                            <form ng-submit="login()">
                                <fieldset>
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input ng-model="data.login.Email" type="email" class="form-control" placeholder="Email" required />
                                            <i class="icon-user"></i>
                                        </span>
                                    </label>

                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input ng-model="data.login.Password" type="password" class="form-control" placeholder="Password" required  />
                                            <i class="icon-lock"></i>
                                        </span>
                                    </label>

                                    <div class="space"></div>

                                    <div class="clearfix">
                                        <label class="inline">
                                            <input type="checkbox" class="ace" ng-model="data.login.Remember"/>
                                            <span class="lbl"> Remember Me</span>
                                        </label>

                                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                            <i class="icon-key"></i>
                                            Login
                                        </button>
                                    </div>

                                    <div class="space-4"></div>
                                </fieldset>
                            </form>

                        </div><!-- /widget-main -->

                        <div class="toolbar clearfix">
                            <div>
                                <a href="#" onclick="show_box('forgot-box');
                                                            return false;" class="forgot-password-link">
                                    <i class="icon-arrow-left"></i>
                                    I forgot my password
                                </a>
                            </div>

                            <div>
                                <a href="#" onclick="show_box('signup-box');
                                                            return false;" class="user-signup-link">
                                    I want to register
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div><!-- /widget-body -->
                </div><!-- /login-box -->

                <div id="forgot-box" class="forgot-box widget-box no-border">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div style="width: 300px">
                                <div ng-show="data.success_message != ''"class="alert alert-dismissable alert-success">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{data.success_message}}
                                </div>

                                <div ng-show="data.error_message != ''" class="alert alert-dismissable alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{data.error_message}}
                                </div>
                            </div>
                            
                            <h4 class="header red lighter bigger">
                                <i class="icon-key"></i>
                                Retrieve Password
                            </h4>
                            
                            <span ng-if="!data.sentcode">
                                <div class="space-6"></div>
                                <p>
                                    Enter your email and to receive instructions
                                </p>

                                <form ng-submit="forgotpassword()">
                                    <fieldset>
        
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input ng-model="data.resetpassword.Email" type="email" class="form-control" placeholder="Email" />
                                                <i class="icon-envelope"></i>
                                            </span>
                                        </label>

                                        <div class="clearfix">
                                            <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                                <i class="icon-lightbulb"></i>
                                                Send Me!
                                            </button>
                                        </div>
                                    </fieldset>
                                </form>
                            </span>
                            
                            <span ng-if="data.sentcode">
                                <div class="space-6"></div>
                                <p>
                                    Enter password reset code
                                </p>

                                <form ng-submit="resetpassword()">
                                    <fieldset>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input ng-model="data.login.Email" type="email" class="form-control" placeholder="Email" required />
                                                <i class="icon-user"></i>
                                            </span>
                                        </label>
                                        
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input ng-model="data.resetpassword.Code" type="text" class="form-control" placeholder="Password reset code" required/>
                                                <i class="icon-envelope"></i>
                                            </span>
                                        </label>
                                        
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input ng-model="data.resetpassword.Password" type="password" class="form-control" placeholder="Password" required/>
                                                <i class="icon-lock"></i>
                                            </span>
                                        </label>

                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input ng-model="data.resetpassword.ConfirmPassword" required ng-match="data.register.Password"
                                                       type="password" class="form-control" placeholder="Repeat password"/>
                                                <i class="icon-retweet"></i>
                                            </span>
                                        </label>

                                        <div class="clearfix">
                                            <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                                <i class="icon-lightbulb"></i>
                                                Send Me!
                                            </button>
                                        </div>
                                    </fieldset>
                                </form>
                            </span>
                        </div><!-- /widget-main -->

                        <div class="toolbar center">
                            <a href="#" onclick="show_box('login-box');
                                                            return false;" class="back-to-login-link">
                                Back to login
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div><!-- /widget-body -->
                </div><!-- /forgot-box -->

                <div id="signup-box" class="signup-box widget-box no-border">
                    <div class="widget-body">
                        <div class="widget-main">
                            
                            <div style="width: 300px">
                                <div ng-show="data.success_message != ''"class="alert alert-dismissable alert-success">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{data.success_message}}
                                </div>

                                <div ng-show="data.error_message != ''" class="alert alert-dismissable alert-danger">
                                    <button type="button" class="close" data-dismiss="alert">×</button>
                                    {{data.error_message}}
                                </div>
                            </div>
                            
                            <h4 class="header green lighter bigger">
                                <i class="icon-group blue"></i>
                                New User Registration
                            </h4>

                            <div class="space-6"></div>
                            <p> Enter your details to begin: </p>

                            <form ng-submit="register()">
                                <fieldset>
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input ng-model="data.register.Email" type="email" class="form-control" placeholder="Email" required/>
                                            <i class="icon-envelope"></i>
                                        </span>
                                    </label>

                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input ng-model="data.register.Password" type="password" class="form-control" placeholder="Password" required/>
                                            <i class="icon-lock"></i>
                                        </span>
                                    </label>

                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input ng-model="data.register.ConfirmPassword" required ng-match="data.register.Password"
                                                   type="password" class="form-control" placeholder="Repeat password"/>
                                            <i class="icon-retweet"></i>
                                        </span>
                                    </label>
                                    
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input ng-model="data.register.FirstName" type="text" class="form-control" placeholder="First name" required/>
                                            <i class="icon-envelope"></i>
                                        </span>
                                    </label>
                                    
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input ng-model="data.register.LastName" type="text" class="form-control" placeholder="Last name" required/>
                                            <i class="icon-envelope"></i>
                                        </span>
                                    </label>
                                    
                                    <div class="space-24"></div>

                                    <div class="clearfix">
                                        <button type="reset" class="width-30 pull-left btn btn-sm">
                                            <i class="icon-refresh"></i>
                                            Reset
                                        </button>

                                        <button type="submit" class="width-65 pull-right btn btn-sm btn-success">
                                            Register
                                            <i class="icon-arrow-right icon-on-right"></i>
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                        <div class="toolbar center">
                            <a href="#" onclick="show_box('login-box');
                                                            return false;" class="back-to-login-link">
                                <i class="icon-arrow-left"></i>
                                Back to login
                            </a>
                        </div>
                    </div><!-- /widget-body -->
                </div><!-- /signup-box -->
            </div><!-- /position-relative -->
        </div>
    </div><!-- /.col -->
</div>

<script type="text/javascript">
			function show_box(id) {
			 jQuery('.widget-box.visible').removeClass('visible');
			 jQuery('#'+id).addClass('visible');
			}
		</script>

